@layout MainLayout
@inherits LayoutComponentBase
<div class="row">
    <ul class="nav">
        <li class="nav-item">
            <NavLink class="nav-link active" href="manager/user" Match="NavLinkMatch.All">用户</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="manager/project" Match="NavLinkMatch.All">项目</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="manager/organization" Match="NavLinkMatch.All">组织</NavLink>
        </li>
    </ul>

</div>

@Body
