@layout Layout
@page "/manager/project"
<h3>Project</h3>


<button @onclick="Add">添加</button>

@foreach (var project in Projects)
{
    <p>
        @project.Name
    </p>
}
@code {
    private List<Core.Entity.Project> Projects = new List<Core.Entity.Project>();


    void Add()
    {
        var project = new Core.Entity.Project
        {
            Name = "111"
        };

        Projects.Add(project);
}

}
