@layout Layout
@page "/manager/user"

<div class="row">
    @* 添加用户 *@
    <div class="col-md-12">
        <form class="form-inline">
            <input type="text"/>

        </form>
    </div>
    @* 列表 *@
    <div class="col-md-12">

    </div>
</div>

@code {
    public UserForm UserForm { get; set; }



}
